<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjectRegister"
          connectionString="Data Source=(localdb)\MSSQLLOCALDB;
          Initial Catalog=Project; Integrated Security=True"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
